<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header.ejs') %>

    <body>
        
        <!--side nav-->
       
        <!--content-->
        <div class="container-fluid">
            <h3 class="mt-3 text-center">Pricings</h3>
            <a type="button" class="btn btn-primary" href="./add_pricing">Add Pricing</a>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Tariff</th>
                        <th>1 - 30</th>
                        <th>31 - 60</th>
                        <th>61 - 90</th>
                        <th>91 - 105</th>
                        <th>Fixed Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <% if(typeof results !='undefined' && results.length!=0){ var i=1; results.forEach(function(data){ %>
                        <tr> 
                            <td>
                                <%=data.tariff %>
                            </td>
                            <td>
                                <%=data.b1_30 %>
                            </td>
                            <td>
                                <%=data.b31_60 %>
                            </td>
                            <td>
                                <%=data.b61_90 %>
                            </td>
                            <td>
                                <%=data.b91_105 %>
                            </td>
                            <td>
                                <%=data.fixed_price %>
                            </td>
                            <td class="text-center">
                                <button class="btn btn-light btn-sm" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class="bi bi-three-dots-vertical"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/admin/edit_pricing/<%=data.tariff%>">Edit</a></li>
                                    <li><a class="dropdown-item" href="/admin/pricings/delete/<%=data.tariff%>">Delete</a></li>
                                </ul>
                            </td>
                        </tr>
                        <% i++; }) %>
                            <% } else{ %>
                                <tr>
                                    <td colspan="7">No Data Found</td>
                                </tr>
                                <% } %>
                </tbody>
            </table>
        </div>
    
        <%- include('../partials/footer.ejs') %>
    </body>

</html>