<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

    <body>
        <div class="container col-md-4 mt-4">
            <div class="row mb-3">
                <div class="col-1"><a href="/" class="back-button-link"><h3><i class="bi bi-arrow-left"></i></h3></a></div>
                <div class="col-11 text-center"><h3>Make a Complain</h3></div>
            </div>
            
            <form action="/make_complain" method="post">
                <div class="mb-3">
                    <label class="form-label">Complain To</label>
                    <select class="form-select" name="complain_to">
                        <option selected value="area_office">Area Office</option>
                        <option value="admin">Head Office</option>   
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Complain Type</label>
                    <select class="form-select" name="type">
                        <option selected>Select Complain type</option>
                        <option value="Power Cut">Power Cut</option>
                        <option value="Broken Power Line">Broken Power Line</option>
                        <option value="Damage from Thundering">Damage from Thundering</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Note</label>
                    <textarea class="form-control" style="height: 150px" name="description" id="description"></textarea>
                </div>
                <% if (typeof message !="undefined" && message) { %>
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                      <%= message %>
                    </div>
                    <% } %>
                    <% if (typeof messageWarning !="undefined" && messageWarning) { %>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                          <%= messageWarning %>
                        </div>
                        <% } %>
                <div class="col-6 mx-auto d-grid mt-4 mb-3">
                    <button type="submit" class="btn btn-secondary rounded-pill">Submit Complain</button>
                  </div>

            </form>
            <div class="row mb-3 card p-3">
                <p>Use this form to make complains about power cuts and other types of complains.
                    Your complain will recieve to your Electricity Area Office.
                </p>
            </div>
        </div>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <% if (typeof alert != "undefined" && alert) { %>
            <script>
                const el = document.createElement('div')
                el.innerHTML = "<a href='/complaints'><button class='btn btn-secondary'>Complaints</button></a>"
             swal({
                title: "<%= alertTitle %>",
                icon: "success",
                button: false,
                closeOnClickOutside: false,
                content: el,
                });
           </script>
           <% } %>
           

        <%- include('./partials/footer.ejs') %>
    </body>

</html>