<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

  <body>
    <div class="container mt-3 col-md-4">
      <h3 class="text-center mb-5">Let's Get Started!</h3>
      <form action="/customer_auth/register" method="POST">
        <div class="mb-3 form-floating">
          <input type="text" class="form-control" placeholder="Full Name" name="name">
          <label for="floatingInput">Full Name</label>
        </div>
        <div class="mb-3 form-floating">
          <input type="text" class="form-control" placeholder="Electricity Account No." name="account_no">
          <label for="floatingInput">Electricity Account No.</label>
        </div>
        <div class="mb-3 form-floating">
          <input type="text" class="form-control" placeholder="NIC" name="nic">
          <label for="floatingInput">NIC</label>
        </div>
        <div class="mb-3  form-floating">
          <input type="email" class="form-control" placeholder="Email" name="email">
          <label for="floatingInput">Email</label>
        </div>
        <div class="mb-3  form-floating">
          <input type="text" class="form-control" placeholder="Mobile No." name="mobile_no">
          <label for="floatingInput">Mobile No.</label>
        </div>
        <div class="mb-3  form-floating">
          <input type="text" class="form-control" placeholder="Username" name="username">
          <label for="floatingInput">Username</label>
        </div>
        <div class="mb-3 form-floating">
          <input type="password" class="form-control" placeholder="Password" name="password">
          <label for="floatingInput">Password</label>
        </div>
        <div class="mb-3 form-floating">
          <input type="password" class="form-control" placeholder="Confirm Password" name="conf_password">
          <label for="floatingInput">Confirm Password</label>
        </div>
        <div>
          <% if (typeof messageWarning !="undefined" && messageWarning) { %>
            <div class="alert alert-danger" role="alert">
              <%= messageWarning %>
            </div>
            <% } %>
              <% if (typeof message !="undefined" && message) { %>
                <div class="alert alert-success" role="alert">
                  <%= message %>
                </div>
                <% } %>

        </div>
        <div class="mb-3 text-center">
          <div class="g-recaptcha d-inline-block" data-sitekey="<%= process.env.RECAPTCHA_SITE_KEY %>" data-callback="recaptcha_callback"
            data-expired-callback="expired_recaptcha_callback" data-size="normal" async defer></div>
        </div>
        <div class="col-6 mx-auto d-grid mb-3">
          <button type="submit" class="btn btn-primary" disabled id="submit-btn"
            style="cursor: not-allowed;  pointer-events: all !important;">Register</button>
        </div>
      </form>
      <p class="text-center">Already have an account? <a href="/login" class="text-decoration-none"><b>Login</b></a></p>
    </div>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <%- include('./partials/footer.ejs') %>
  </body>

</html>