<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

    <body>
        
        <div class="container col-md-4 mt-3">
            <div class="row mb-3">
                <div class="col-1"><a href="/" class="back-button-link"><h3><i class="bi bi-arrow-left"></i></h3></a></div>
                <div class="col-10 text-center"><h3>Upload Meter Reading</h3></div>
            </div>
            <div class="card shadow p-3 mb-3" style=" border-radius: 25px; background-color: #FECE2F;">
                <div class="card-body text-center">
            <form action="/upload_image" method="POST" enctype="multipart/form-data">
                <img src="imageup.png" class="img-fluid" width="auto">
                <input type="file" accept="image/*" capture="environment" name="photo" id="file">
                
                <div>
                    <button type="submit" class="btn btn-secondary rounded-pill"><span class="ms-3 me-3">Submit</span></button>
                  </div> 
            </form>
            </div>
        </div>
        </div>

        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>      
        
        <% if (typeof alert != "undefined" && alert) { %>
            <script>
             const el = document.createElement('div')
                el.innerHTML = "<a href='<%= link %>'><button class='btn <%= buttonType %> rounded-pill shadow'><span class='ms-3 me-3'><%= buttonTxt %></span></button></a>"
             swal({
                title: "<%= alertTitle %>",
                icon: "<%= alert %>",
                button: false,
                text:"<%= text%>",
                closeOnClickOutside: false,
                content: el,
                });
           </script>
           <% } %>  
        <%- include('./partials/footer.ejs') %>
    </body>

</html>