<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<style>
    .image-upload>input {
  display: none;
}
.image-upload img
{
    cursor: pointer;
}
</style>
    <body>
        
        <div class="container col-md-4 mt-3">
            <div class="row mb-3">
                <div class="col-1"><a href="/" class="back-button-link"><h3><i class="bi bi-arrow-left"></i></h3></a></div>
                <div class="col-10 text-center"><h3>Upload Meter Reading</h3></div>
            </div>
            <div class="card shadow p-3 mb-3" style=" border-radius: 25px; background-color: #FECE2F;">
                <div class="card-body text-center">
                    <form action="/confirm_meter" method="POST" enctype="multipart/form-data">
                        <div class="image-upload">
                            <label for="file-input">
                              <img src="./imageup.png" class="img-fluid" width="auto">
                            </label>
                            <input type="file" accept="image/*" capture="environment" name="photo" id="file-input">                           
                          </div>

                        <div class="mt-3">
                            <button type="submit" class="btn btn-secondary rounded-pill"><span class="ms-3 me-3">Submit</span></button>
                          </div> 
                    </form>
                    </div>
        </div>
        </div>
        <%- include('./partials/footer.ejs') %>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>      

        <% if (typeof alert != "undefined" && alert) { %>
            <script>
             const el = document.createElement('div')
                el.innerHTML = "<a href='<%= link %>'><button class='btn <%= buttonType %> rounded-pill shadow'><span class='ms-3 me-3'><%= buttonTxt %></span></button></a>"
             swal({
                title: "<%= alertTitle %>",
                icon: "<%= alert %>",
                button: false,
                text:"<%= text%>",
                closeOnClickOutside: false,
                content: el,
                });
           </script>
           <% } %>  

           <% if (typeof alertType != "undefined" && alertType) { %>
            <script>
             const el = document.createElement('div')
                el.innerHTML = "<form method='post' action='/upload_image'><input type='hidden' name='url' value='<%= url %>'><input type='submit' value='Proceed' class='btn btn-primary rounded-pill'></form>"
             swal({
                title: "<%= alertTitle %>",
                icon: "<%= alertType %>",
                button: false,
                text:"<%= text %>",
                closeOnClickOutside: false,
                content: el,
                });
           </script>
           <% } %>  
        
    </body>

</html>